@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand:wght@300&family=Reenie+Beanie&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
section {
  height: 500px;
  background-color: white;
  border: solid black 1px;
  font-family: "reenie beanie", sans-serif;
}

.top {
  background-color: #f1f1f1;
  height: 100vh;
  color: white;
  font-size: 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #1c1d25;
  height: 150px;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 40px;
}

li {
  width: 200px;
  text-decoration: none;
}